._demo--container
  a.wordmark(href='http://www.ibm.com/watson/developercloud/')
    span.wordmark--left Made with
    span.icon.icon-heart
          strong  by IBM
    span.wordmark--right Watson 
  nav.heading-nav(role='menubar')
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='http://desireyavro.azurewebsites.net/registration.html', role='menuitem') Contact
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | MAMIO
        .banner--service-description
          | Image Recognition web app to enabling our elderly to feel independant again.